
{{>header}}

{{>sidebar}}

<!--Main layout-->
  <!--Main layout-->
  <main class="pt-5 mx-lg-5">
    <div class="container-fluid mt-5">

      <!-- Heading -->
      <div class="card mb-4">

        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-between">

          <h4 class="mb-2 mb-sm-0 breadcumb">
            <a href="{{#ifCond user.role 'Admin'}}/admin/dashboard{{else}}/expert/dashboard{{/ifCond}}">Dashboard</a>
            <span>/</i> </span>
            <span>Send Email</span>
          </h4>

        </div>

      </div>

      <!-- content goes Here-->
      
 <div class="">
          <div class="row">
              <div class="col-md-8">
                  
                    <div class="card py-5">

                        <h4 class="text-center">Send Email</h4>

                        <!--Card content-->
                        <div class="card-body px-lg-5 pt-0">

                            <!-- Form -->
                            <form class="text-center" style="color: #757575;" action="/sendMail" method="POST">

                                <div class="form-row">
                                    <div class="col">
                                        <!-- First name -->
                                        <div class="md-form">
                                            <input type="text" id="materialRegisterFormFirstName" class="form-control" name="name" value="{{name}}" required>
                                            <label for="materialRegisterFormFirstName">Name</label>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <!-- E-mail Recipient-->
                                        <div class="md-form">
                                            <input type="email" id="materialRegisterFormEmail" class="form-control" name="recipientEmail" value="{{email}}" required>
                                            <label for="materialRegisterFormEmail">Recipient Email</label>
                                        </div>
                                    </div>
                                </div>

                                <!-- E-mail Subject-->
                                <div class="md-form mt-0">
                                    <input type="text" id="materialRegisterFormSubject" class="form-control" name="subject" required>
                                    <label for="materialRegisterFormSubject">Subject</label>
                                </div>
                                <!--Message-->
                                <div class="md-form">
                                    <textarea id="materialContactFormMessage" class="form-control md-textarea" rows="5" name="message" required></textarea>
                                    <label for="materialContactFormMessage">Message</label>
                                </div>

                                <button type="submit" class="btn btn-default">Submit</button>

                            </form>
                            <!-- Form -->

                        </div>

                    </div>
              </div>

                <div class="col-md-4">
                    <div class="text-center mt-4 mb-5">
                      <img src="/img/envelope_n8lc.svg" alt="email_img" style="height: 170px" class="img-fluid">
                    </div>
                    <div class="alert alert-info my-5 pt-5">
                      <p>You can send email to the users/visitors or other admins of T Remedy from here.</p>
                      <p>The emails will be sent from <i> <u>tremedy101@gmail.com</u></i></p>
                      <p> You can continue with the follow up emails from the Gmail Mailbox.</p>
                    </div>
                </div>

          </div>
 </div>


  <h2 class="text-center my-5">Recent Mails</h2>

<!--start card-->
{{#each results.emails}}
        <!--Card-->
        <div class="card my-4 wow fadeIn">
            <div class="card-body">
            <div class="row">
                <div class="col-3"> <img src="./img/mail.png" class="img-fluid rounded-circle vertical-center" alt="mail_icon"></div>
                <div class="col-6 my-3"><h6 class="text-left my-2 d-inline">{{this.mail.subject}}</h6> &nbsp; <span class="text-danger mx-1"></span>
                <div class="text-muted font-italic mt-2"> <i class="far fa-user text-muted mr-1"></i> <span title="Sender"> {{this.sentBy.name}} </span> <i class="fas fa-long-arrow-alt-right mx-1"></i> <i class="far fa-envelope text-muted mr-1"></i> <span style="text-transform: capitalize;" title="Recipient">{{this.mail.name}} </span> </div>
                    
                    <div class="action-btns mt-4">
                        <a class="btn btn-sm px-3 btn-default custom-bg" href="" data-toggle="modal" data-target="#infoModal{{this._id}}" title="View Profile"> <i class="fas fa-eye"></i> View </a>   
                    </div>
                    </div>
                    <div class="col-3 my-5" style="font-size: 0.83em;">
                      <i class="far fa-calendar-alt text-muted mr-1"></i> <span class="text-dark"> {{this.metadata.date}} </span>
                      <div class="my-2"><i class="far fa-clock text-muted mr-1"></i> <span class="text-dark">{{this.metadata.time}}</span></div>
                    </div>
                </div>
                </div>
            </div>
            <!--/.Card-->

<!-- Modal -->
<div class="modal fade" id="infoModal{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header mx-5">
            <div class="row">
              <div class="col-7">
              <img src="./img/mail.png" class="img-fluid" alt="Mail_icon">
            </div>
               <div class="col-5 my-5" style="font-size: 0.9em;">
                    <i class="far fa-calendar-alt text-muted mr-1"></i><span class="text-dark">{{this.metadata.date}}</span>
                    <div class="my-2"><i class="far fa-clock text-muted mr-1"></i><span class="text-dark">{{this.metadata.time}}</span></div>
                    </div>
            </div>
          </div>
   
      <div class="modal-body">
       <div class="modal-body text-left mb-1">

              <p class="mb-4"><b> Subject: </b> {{this.mail.subject}}</p>
              <p class="my-4 white-space-pre">{{this.mail.message}}</p>
                <div class="my-1"> <span class="text-muted"> <i class="fas fa-envelope mr-1"></i> Recipient: </span> {{this.mail.recipientEmail}} </div>
                <div class="my-1"> <span class="text-muted"> <i class="fas fa-user mr-1"></i>Sender: </span> {{this.sentBy.email}}</b> <span class="custom-text mx-1"><b>({{this.sentBy.role}})</b></span></div>
                 
      </div>
       
             <div class="text-center my-3">
                <button data-dismiss="modal" class="btn btn-danger btn-sm waves-effect waves-light px-2"> <i class="fa fa-times-circle mr-1"></i>Close
                 </button>
              </div>
      </div>
    </div>
  </div>
</div>
    <!-- Info Modal-->
{{/each}}
<!--end card-->

  {{#ifCond results.totalEmails 0 }}
      <div class="text-center my-5 py-5">
        <img src="./img/not_found.svg" style="height: 150px" class="img-fluid">
        <h3 class="mt-3">No email activity</h3>
      </div>
    
    {{else}}

    <!-- Pagination -->
    <div class="d-flex justify-content-center">
      <nav class="m-auto" aria-label="Page navigation example">
    
        {{!-- {{{paginateHelper pagination leftText="<span class='page-link'>Previous</span>" rightText="<span class='page-link'>Next</span>" paginationClass='pagination pg-dark'}}} --}}
    
        <ul class="pagination pg-dark">
          {{#paginate pagination type="first"}}
          <li class="page-item {{#if disabled}}disabled{{/if}}"><a class="page-link" href="?page={{n}}"><i
                class="fa fa-angle-double-left"></i> First</a></li>
          {{/paginate}}
          {{#paginate pagination type="previous"}}
          <li class="page-item {{#if disabled}}disabled{{/if}}"><a class="page-link" href="?page={{n}}"><i
                class="fa fa-angle-left"></i> Prev</a></li>
          {{/paginate}}
          {{#paginate pagination type="middle" limit="5"}}
          <li class="page-item {{#if active}}active{{/if}}"><a class="page-link" href="?page={{n}}">{{n}}</a></li>
          {{/paginate}}
          {{#paginate pagination type="next"}}
          <li class="page-item {{#if disabled}}disabled{{/if}}"><a class="page-link" href="?page={{n}}">Next <i
                class="fa fa-angle-right"></i></a></li>
          {{/paginate}}
          {{#paginate pagination type="last"}}
          <li class="page-item {{#if disabled}}disabled{{/if}}"><a class="page-link" href="?page={{n}}">Last <i
                class="fa fa-angle-double-right"></i></a></li>
          {{/paginate}}
        </ul>
    
      </nav>
    </div>
    <!-- Pagination -->

  {{/ifCond}}
        
  </main>
  <!--Main layout-->

{{>footer}}