{{>header}}

{{>sidebar}}

<!--Main layout-->
<!--Main layout-->
<main class="pt-5 mx-lg-5">
    <div class="container-fluid mt-5">

        <!-- Heading -->
        <div class="card mb-4">

            <!--Card content-->
            <div class="card-body d-sm-flex justify-content-between">

                <h4 class="mb-2 mb-sm-0 breadcumb">
                    <a href="{{#ifCond user.role 'Admin'}}/admin/dashboard{{else}}/expert/dashboard{{/ifCond}}">Dashboard</a>
                    <span>/</i> </span>
                    <span>System Logs</span>
                </h4>
           
            </div>

        </div>

        <!-- content goes Here-->
        <div class="card">
            <div class="card-body">
                <table id="logs" class="table table-hover">
                    <thead class="font-weight-normal">
                        <tr>
                            <th scope="col">Type</th>
                            <th scope="col">Action</th>
                            <th scope="col">Role</th>
                            <th scope="col" class="text-center">Logs</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        {{#each logs}}
                        <tr class="text-left">
                            <td style="text-transform:capitalize;">{{this.type}}</td>
                            <td style="text-transform:capitalize;">{{#ifCond this.action 'deleted'}} <span class="text-danger">{{this.action}}</span> {{else}} <span
                                class="text-warning">{{this.action}}</span>{{/ifCond}}</td>
                            <td>{{this.executedBy.role}}</td>
                            <td>
                                <span>
                                    <a href="javascript:void(0)">{{this.executedBy.name}}</a> {{this.action}} the post <a href="/posts/view/{{this.executedOn._id}}"  title="View Post" target="_blank">{{this.executedOn.name}}</a> on <span class="text-danger">{{this.metadata.date}}</span> at <span class="text-danger">{{this.metadata.time}}</span>
                                </span>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
       
    </div>

    <!-- Pagination -->
    <div class="d-flex justify-content-center my-4">
        <nav class="m-auto" aria-label="Page navigation example">
    
            {{!-- {{{paginateHelper pagination leftText="<span class='page-link'>Previous</span>" rightText="<span class='page-link'>Next</span>" paginationClass='pagination pg-dark'}}} --}}
    
            <ul class="pagination pg-dark">
                {{#paginate pagination type="first"}}
                <li class="page-item {{#if disabled}}disabled{{/if}}"><a class="page-link" href="?page={{n}}"><i
                            class="fa fa-angle-double-left"></i> First</a></li>
                {{/paginate}}
                {{#paginate pagination type="previous"}}
                <li class="page-item {{#if disabled}}disabled{{/if}}"><a class="page-link" href="?page={{n}}"><i
                            class="fa fa-angle-left"></i> Prev</a></li>
                {{/paginate}}
                {{#paginate pagination type="middle" limit="5"}}
                <li class="page-item {{#if active}}active{{/if}}"><a class="page-link" href="?page={{n}}">{{n}}</a></li>
                {{/paginate}}
                {{#paginate pagination type="next"}}
                <li class="page-item {{#if disabled}}disabled{{/if}}"><a class="page-link" href="?page={{n}}">Next <i
                            class="fa fa-angle-right"></i></a></li>
                {{/paginate}}
                {{#paginate pagination type="last"}}
                <li class="page-item {{#if disabled}}disabled{{/if}}"><a class="page-link" href="?page={{n}}">Last <i
                            class="fa fa-angle-double-right"></i></a></li>
                {{/paginate}}
            </ul>
    
        </nav>
    </div>
    <!-- Pagination -->

</main>
<!--Main layout-->

{{>footer}}