
{{>header}}

{{>sidebar}}

<!--Main layout-->
  <!--Main layout-->
  <main class="pt-5 mx-lg-5">
    <div class="container-fluid mt-5">

      <!-- Heading -->
      <div class="card mb-4">

        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-between">

          <h4 class="mb-2 mb-sm-0 breadcumb">
            <a href="dashboard.html">Dashboard</a>
            <span>/</i> </span>
            <span>User Profile</span>
          </h4>

          <form class="d-flex justify-content-center">
            <!-- Default input -->
            <input type="search" placeholder="Search Posts" aria-label="Search" class="form-control">
            <button class="btn custom-bg btn-sm my-0 p" type="submit">
              <i class="fas fa-search text-white"></i>
            </button>

          </form>

        </div>

      </div>

      <!-- content goes Here-->
      
      <div class="container-fluid">

        <!-- Section: Team v.1 -->
        <section class="section team-section">
  
          <!-- Grid row -->
          <div class="row text-center">
  
            <!-- Grid column -->
            <div class="col-md-8 mb-4">
  
              <!-- Card -->
              <div class="card card-cascade cascading-admin-card user-card">
  
                <!-- Card Data -->
                <div class="admin-up d-flex justify-content-start">
                  <i class="fas fa-users bg-default text-white py-3 rounded px-3 mx-3 my-1 z-depth-2"></i>
                  <div class="data">
                    <h5 class="font-weight-bold dark-grey-text mt-3">Edit Profile - <span class="text-muted">Edit user profile</span></h5>
                  </div>
                </div>
                <!-- Card Data -->
  
                <!-- Card content -->
                <div class="card-body card-body-cascade">

                  <!-- Grid row -->
                  <div class="row">
  
                    <!-- Grid column -->
                    <div class="col-md-12">
  
                      <div class="md-form form-sm mb-0">
                        <input type="text" id="form5" class="form-control form-control-sm" value="{{user.name}}" required>
                        <label for="form5" class="">Name</label>
                      </div>
  
                    </div>
                    <!-- Grid column -->
  
                  </div>
                  <!-- Grid row -->
  
                  <!-- Grid row -->
                  <div class="row">
  
                    <!-- Grid column -->
                    <div class="col-md-12">
  
                      <div class="md-form form-sm mb-0">
                        <input type="text" id="form6" class="form-control form-control-sm" value="{{user.email}}" required>
                        <label for="form6" class="">Email</label>
                      </div>
  
                    </div>
                    <!-- Grid column -->
  
                  </div>
                  <!-- Grid row -->
                  <!-- Grid row -->
                  <div class="row">

                    <button class="btn btn-default custom-bg btn-rounded mt-4 mb-3 mx-auto"> Save Changes</button>
  
                    
                    <!-- Grid column -->
  
                  </div>
                  <!-- Grid row -->
  
                </div>
                <!-- Card content -->
  
              </div>
              <!-- Card -->

              <div class="card my-4">
                <div class="card-body">

                  <h5 class="text-center">User Activity</h5>

                  <div class="row mt-5">
                    <div class="col-md-6 text-left">
                        <p> <i class="fa fa-caret-right mr-2"></i> Total Posts: <span class="pill pill-secondary">1</span></p>
                    </div>
                    <div class="col-md-6 text-left">
                      <p> <i class="fa fa-caret-right mr-2"></i> Answered: 1</p>
                      <p> <i class="fa fa-caret-right mr-2"></i> Unanswered: 1</p>
                    </div>
                  </div>
                  
                  
                  

                </div>

              </div>
  
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-4 mb-4">
  
              <!-- Card -->
              <div class="card profile-card wow slideInRight">
  
                <!-- Avatar -->
                <div class="avatar my-4">
                  <img src="{{user.avatar}}" class="rounded-circle" alt="First sample avatar image">
                </div>
  
                <div class="card-body pt-0 mt-0">
  
                  <!-- Name -->
                  <h3 class="mb-3 font-weight-bold"><strong>{{user.name}}</strong></h3>
                  <h6 class="font-weight-bold cyan-text mb-4">Visitor</h6>
  
                  <p class="mt-4 text-muted">{{user.email}}</p>
                  <p class="mt-4 text-muted"> {{user.date}}</p>
                  <a href="" class="btn btn-default btn-rounded text-white mt-4 material-tooltip-main" data-toggle="tooltip" data-placement="left" title="Send email to {{user.name}}."> <i class="fa fa-envelope mr-2"></i> Email</a>
                  <a href="javascript:(void);" class="btn btn-danger btn-rounded mt-4 material-tooltip-main" data-toggle="modal" data-target="#confirmDelete" data-toggle="tooltip" data-placement="left" title="Block {{user.name}} from adding posts."><i class="fas fa-ban mr-1"></i> {{#ifCond user.blocked true}} Unblock {{else}} Block{{/ifCond}}</a>
                </div>
  
              </div>
              <!-- Card -->

              <div class="text-left my-4">
                <p class="text-danger"># Note: If user is spamming block the user from accessing the app. This way he won't be able to create post. But he still can use the app, read posts</p>
              </div>
                
            </div>
            <!-- Grid column -->
  
          </div>
          <!-- Grid row -->

          <!--Modal: ConfirmDelete-->
        <div class="modal fade top" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true" data-backdrop="true">
        <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
        <!--Content-->
        <div class="modal-content text-center">
          <!--Header-->
          <div class="modal-header d-flex justify-content-center">
            <p class="heading">Are you sure?</p>
          </div>

          <!--Body-->
          <div class="modal-body">

            <i class="fas fa-ban fa-4x animated rotateIn"></i>
            <h3 class="text-muted my-4 text-danger"> {{#ifCond user.blocked true}} Unblock User {{else}} Block User{{/ifCond}}</h3>
          </div>

          <!--Footer-->
          <div class="modal-footer flex-center">
              <form method="POST" action="{{#ifCond user.blocked true}}/users/block/?action=unblock{{else}}/users/block/?action=block{{/ifCond}}" style="display: inline;">
                <input type="text" name="id" value="{{user._id}}" hidden >
                <button class="btn btn-outline-danger waves-effect waves-light" type="submit">Yes</button>
              </form>
            <a type="button" class="btn btn-danger waves-effect" data-dismiss="modal">No</a>
          </div>
          </div>
          <!--/.Content-->
        </div>
        </div>
    <!-- Modal Delete-->

        </section>
        <!-- Section: Team v.1 -->
  
      </div>

  </main>
  <!--Main layout-->

{{>footer}}