
{{>header}}

{{>sidebar}}

<!--Main layout-->
  <!--Main layout-->
  <main class="pt-5 mx-lg-5">
    <div class="container-fluid mt-5">

      <!-- Heading -->
      <div class="card mb-4">

        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-between">

          <h5 class="mb-2 mb-sm-0 breadcumb">
            <a href="/admin/dashboard">Dashboard</a>
            <span>/</i> </span>
            <span>Admin Profile</span>
          </h5>
        </div>
      </div>

      <!-- content goes Here-->
      
      <div class="container-fluid">

        <!-- Section: Team v.1 -->
        <section class="section team-section">
  
          <!-- Grid row -->
          <div class="row">
  
            <!-- Grid column -->
            <div class="col-md-8 mb-4">
  
              <!-- Card -->
              <div class="card card-cascade cascading-admin-card user-card">
  
                <!-- Card Data -->
                <div class="admin-up d-flex justify-content-start">
                  <i class="far fa-users bg-default text-white py-3 rounded px-3 mx-3 my-1 z-depth-2"></i>
                  <div class="data">
                    <h5 class="font-weight-bold dark-grey-text mt-3">Edit Profile</h5>
                  </div>
                </div>
                <!-- Card Data -->
  
                <!-- Card content -->
                <div class="card-body card-body-cascade">

                <form action="" method="POST" enctype="multipart/form-data"  onsubmit="showLoader('submitBtn','Saving Changes')">
                  <!-- Grid row -->
                  <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-12">
  
                      <div class="md-form form-sm mb-0">
                        <input type="text" id="name" class="form-control form-control-sm" name="name" value="{{user.name}}" disabled>
                        <label for="name" class="" title="Can't change name">Name</label>
                      </div>
  
                    </div>
                    <!-- Grid column -->
  
                  </div>
                  <!-- Grid row -->
  
                  <!-- Grid row -->
                  <div class="row">
  
                    <!-- Grid column -->
                    <div class="col-md-12">
  
                      <div class="md-form form-sm mb-0">
                        <input type="text" id="email" class="form-control form-control-sm" value="{{user.email}}" disabled>
                        <label for="email" class="" title="Can't change email">Email</label>
                      </div>

                    </div>
                    <!-- Grid column -->
                  </div>
                  <!-- Grid row -->

                  <!-- Grid row -->
                  <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-6">
                      <div class="md-form form-sm mb-0">
                        <input type="password" id="currentPassword" class="form-control" name="currentPassWord">
                        <label for="currentPassword">Current Password</label>
                        <span id="passToggler" class="postfix-icon" onclick="passToggler(this.parentElement)" style="font-size: 0.9em;"> <i
                            class="far fa-eye wow fadeIn text-muted" title="Visible"></i> </span>
                      </div>
                    </div>
                    <!-- Grid column -->
                    
                    <div class="col-md-6">
                      <!-- Password -->
                      <div class="md-form form-sm mb-0">
                        <input type="password" id="newPassword" class="form-control" name="password">
                        <label for="newPassword">New Password</label>
                        <span id="passToggler" class="postfix-icon p-1" onclick="passToggler(this.parentElement)" style="font-size: 0.9em;"> <i
                            class="far fa-eye wow fadeIn text-muted" title="Visible"></i> </span>
                      </div>
                    </div>


                    <!-- Grid column -->
                    <div class="col-md-12">
                      <div class="md-form">
                        <div class="file-field">
                          <a class="btn-floating custom-bg mt-0 float-left">
                            <i class="fas fa-cloud-upload-alt" aria-hidden="true"></i>
                            <input type="file" id="avatarChange" name="avatar" onchange="loadFile(event)">
                          </a>
                          <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Change Avatar" readonly>
                          </div>
                        </div>
                      </div>
                      <p class="ml-4 text-warning" style="font-size: 0.8em;">* Please upload JPG/PNG file < 1MB</p>
                    </div>
                    <!-- Grid column -->
                  </div>
                  <!-- Grid row -->
                  <div class="text-center">
                    <button type="submit" id="submitBtn" class="btn btn-default btn-rounded my-4" disabled> Save Changes</button>
                  </div>
                  </form>
                </div>
                <!-- Card content -->
  
              </div>
              <!-- Card -->
  
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-4 mb-4">
  
              <!-- Card -->
              <div class="card profile-card wow slideInRight text-center">
  
                <!-- Avatar -->
                <div class="avatar my-4">
                  <img src="{{user.avatar.avatar_url}}" id="avatarImg" class="rounded-circle wow fadeIn" alt="First sample avatar image" style="height: 90px; width: 90px">
                </div>
  
                <div class="card-body pt-0 mt-0">
  
                  <!-- Name -->
                  <h3 class="mb-3 font-weight-bold"><strong>{{user.name}}</strong></h3>
                  <p class="text-danger">(You)</p>
                  <h6 class="font-weight-bold cyan-text mb-4">Administrator</h6>
  
                  <p class="mt-4 text-muted">{{user.email}}</p>
                  <p class="mt-4 text-muted"> {{user.date}}</p>
                </div>
  
              </div>
              <!-- Card -->
          </div>
            <!-- Grid column -->
  
          </div>
          <!-- Grid row -->
  
        </section>
        <!-- Section: Team v.1 -->
  
      </div>

  </main>
  <!--Main layout-->

  <script>
    
    
    
  </script>

{{>footer}}