{{>header}}

{{>sidebar}}

{{!-- Main content --}}

 <!--Main layout-->
  <main class="pt-5 mx-lg-5">
    <div class="container-fluid mt-5">
      <!-- Heading -->
      <div class="card mb-4">

        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-between">

          <h5 class="mb-2 mb-sm-0 breadcumb">
            <a href="{{#ifCond user.role 'Admin'}}/admin/dashboard{{else}}/expert/dashboard{{/ifCond}}">Dashboard</a>
            <span>/</span>
            <span>Add a Post</span>
          </h5>


        </div>

      </div>

      <!-- content goes here-->
      
      <!--Grid column-->
      <div class="mb-4">

        <!--Card-->
        <div class="card">

          <!--Card content-->
          <div class="card-body">
              <h4 class="text-center custom-text">Create a Post </h4>
              <p class="text-center text-muted">(Enter all the fields below)</p>

            <form method="POST" action="" enctype="multipart/form-data">
            <div class="row">
              <!-- Grid column -->
              <div class="col-md-8 mb-4">
  
                <div class="md-form">
                  <input type="text" id="postTitle" class="form-control" name="title" required>
                  <label for="postTitle" class="">Post Title</label>
                </div>
              </div>
              <!-- Grid column -->
  
              <!-- Grid column -->
              <div class="col-md-4 mb-4">
                 <!-- Name -->
              <select class="mdb-select md-form" name="category" required>
                  <option value="" disabled selected>Select Category</option>
                  {{#each categories}}
                  <option value="{{this.name}}">{{this.name}}</option>
                  {{/each}}
              </select>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-5 mb-4">
              <div class="md-form">
                  <input type="text" id="cause" class="form-control" name="causes" required>
                  <label for="cause" class="">Causes</label>
                </div>
  
              </div>
              <!-- Grid column -->
  
              <!-- Grid column -->
              <div class="col-md-7 mb-4">
                 <!-- Name -->
                 <div class="md-form">
                  <input type="text" id="Symptoms" class="form-control" name="symptoms" required>
                  <label for="Symptoms" class="">Symptoms</label>
                </div>
                </div>
              <!-- Grid column -->

              <!-- Grid column -->
            <div class="col-md-4 mb-4">

                <div class="md-form">
                    <div class="file-field big">
                    <a class="btn-floating btn-default darken-2 mt-0 float-left">
                      <i class="fas fa-cloud-upload-alt" aria-hidden="true"></i>
                      <input type="file" accept=".jpg,.png,.jpeg" name="postThumbnail" required>
                    </a>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text" placeholder="Thumbnail">
                    </div>
                    </div>
                </div>
            <p class="ml-4 text-warning" style="font-size: 0.8em;">* Please upload JPG/PNG file < 1MB</p>
             </div>
            <!-- Grid column -->

            <div class="col-md-4 mb-4">

                <div class="md-form">
                    <div class="file-field big">
                    <a class="btn-floating btn-default darken-2 mt-0 float-left">
                      <i class="fas fa-cloud-upload-alt" aria-hidden="true"></i>
                      <input type="file" accept=".jpg,.png,.jpeg" name="postImg1" required>
                    </a>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text" placeholder="Post Image 1">
                    </div>
                    </div>
                </div>
          <p class="ml-4 text-warning" style="font-size: 0.8em;">* Please upload JPG/PNG file < 1MB</p></1MB>
            </div>
            <!-- Grid column -->
            <div class="col-md-4 mb-4">

                <div class="md-form">
                  <div class="file-field big">
                    <a class="btn-floating btn-default darken-2 mt-0 float-left">
                      <i class="fas fa-cloud-upload-alt" aria-hidden="true"></i>
                      <input type="file" accept=".jpg,.png,.jpeg" name="postImg2" required>
                    </a>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text" placeholder="Post Image 2">
                    </div> 
                    </div>
                </div>
            <p class="ml-4 text-warning" style="font-size: 0.8em;">* Please upload JPG/PNG file < 1MB</p></1MB>
            </div>
            <!-- Grid column -->

            <div class="col-md-12 alert alert-warning">
              <p class="text-muted m-0">The editors for <u>Description</u> , <u>Comments</u> , <u>Management</u> are rich-text
                editors.
                <br>Besides texts you can also enter bullet points to make your texts look good and better organized.</p>
            </div>

            <!-- Grid column -->
            <div class="col-md-12 my-3">

              <div class="form-group custom-border">
                <label for="description">Description</label>
                <span class="float-right" style="font-size:0.75em;">
                  <a id="editor-btn" style="display: none;" href="javascript:void(0);"
                    onclick="togglePreview(this.parentElement.parentElement)"> <i class="far fa-edit"></i> Editor</a>
                  <a id="preview-btn" href="javascript:void(0);" onclick="togglePreview(this.parentElement.parentElement)"> <i
                      class="far fa-eye"></i> Preview</a>
                </span>
              
                <textarea class="form-control wow fadeIn" id="description" rows="3" name="description"
                  required>{{post.description}}</textarea>
              
                <div id="preview" class="alert alert-secondary white-space-pre wow fadeIn" style="display: none;">
                  Please edit something and toggle back
                </div>
              </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-12 my-3">

              <div class="form-group custom-border">
                <label for="comments">Comments</label>
                <span class="float-right" style="font-size:0.75em;">
                  <a id="editor-btn" style="display: none;" href="javascript:void(0);"
                    onclick="togglePreview(this.parentElement.parentElement)"> <i class="far fa-edit"></i> Editor</a>
                  <a id="preview-btn" href="javascript:void(0);" onclick="togglePreview(this.parentElement.parentElement)"> <i
                      class="far fa-eye"></i> Preview</a></span>
              
                <textarea class="form-control wow fadeIn" id="comments" rows="3" name="comments" required>{{post.comments}}</textarea>
              
                <div id="preview" class="alert alert-secondary white-space-pre wow fadeIn" style="display: none;">
                  Please edit something and toggle back
                </div>
              </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-12 my-3">

              <div class="form-group custom-border">
                <label for="management"> Management</label>
                <span class="float-right" style="font-size:0.75em;">
                  <a id="editor-btn" style="display: none;" href="javascript:void(0);"
                    onclick="togglePreview(this.parentElement.parentElement)"> <i class="far fa-edit"></i> Editor</a>
                  <a id="preview-btn" href="javascript:void(0);" onclick="togglePreview(this.parentElement.parentElement)"> <i
                      class="far fa-eye"></i> Preview</a>
                </span>
              
                <textarea class="form-control" id="management" rows="3" name="management" required>{{post.management}}</textarea>
              
                <div id="preview" class="alert alert-secondary white-space-pre wow fadeIn" style="display: none;">
                  Please edit something and toggle back
                </div>
              </div>

            </div>
            <!-- Grid column -->
            <div class="mx-3 my-2">
            <h6># Notes</h6>
            <p class="text-muted">Thumbnail - Post thumbnail Image.</p>
            <p class="text-muted"> Preview 1 and Preview 2 are images apper in the post.</p>
            </div>
        </div>
        <!--/.Card-->
        <div class="card-footer text-center">
          <button type="submit" class="btn custom-bg text-white">Create Post <i class="fas fa-angle-right ml-2"></i></button>
        </div>
        </form>
    </div>

  </main>
  <!--Main layout-->

  {{!-- Main content here --}}


{{>footer}}